@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<main>
    <section id="first_section">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var slider in Model.Sliders)
                {
                    <div class="swiper-slide">
                        <img src="./assets/imgs/@slider.Image" alt="" style="width: 100%;">
                        <div class="text_swiper">
                            <h3>@slider.Title</h3>
                            <p>@slider.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="swiper-button-prev dsnone"></div>
        <div class="swiper-button-next dsnone"></div>
    </section>
    <section id="second_section">
        <div class="container">
            <h1>Bizim Menyumuz</h1>
            <div class="menyu_main">
                <h3> 
                    <a href="" id="burger_click">
                        Burgerlər
                    </a>
                </h3>
                <h3>
                    <a href="" id="desert_click">
                        Desertlər
                    </a>
                </h3>
                <h3>
                    <a href="" id="icki_click">
                        Icki
                    </a>
                </h3>
                <h3>
                    <a href="" id="qelyan_click">
                        Qəlyan
                    </a>
                </h3>
                <h3>
                    <a href="" id="qelyanalti_click">
                        Qəlyanaltı
                    </a>
                </h3>
            </div>
            @foreach(var product in Model.Products)
            {
                <div class="burger_menyu" id="burger-menyu">

                    <div class="box">
                        <img src="./assets/imgs/@product.Image" alt="">
                        <h4 class="name_of_menyu">@product.Name</h4>
                        <h4 class="about_menyu">@product.Description</h4>
                        <h4>Qiymet: @product.Price man.</h4>
                    </div>

                </div>
            }
            @* <div class="burger_menyu" id="desert-menyu">
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
            </div>
            <div class="burger_menyu" id="icki-menyu">
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
            </div>
            <div class="burger_menyu" id="qelyan-menyu">
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
            </div>
            <div class="burger_menyu" id="qelyanalti-menyu">
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
            </div>
            <div class="burger_menyu" id="random-menyu">
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
                <div class="box">
                    <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712188800&semt=sph" alt="">
                    <h4 class="name_of_menyu">Burger big</h4>
                    <h4 class="about_menyu">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <h4>Qiymet: 4 man.</h4>
                </div>
            </div> *@
        </div>
    </section>
</main>

